{% extends 'base.html.twig' %}

{% block title %}Modifier Travail{% endblock %}

{% block body %}
<div class="container">

    <h1>Modifier Travail</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

    

    {{ include('task/_delete_form.html.twig') }}
</div>
{% endblock %}
